---
import "@/index.css";
import "@fontsource-variable/inter";
import Button from "@/components/ui/button.astro";
import Github from "@/icon/github.astro";
import { Image } from "astro:assets";
---

<html class="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>fields4fs</title>
    <meta
      name="description"
      content="Convert any densityMap_ground.png from Farming Simulator 25 to .i3d file with fields!"
    />
  </head>
  <body class="bg-background min-h-screen font-sans antialiased">
    <header class="bg-background sticky top-0 z-40 w-full border-b shadow-xs">
      <div class="mx-auto flex h-14 w-full max-w-[1400px] items-center px-8">
        <a
          aria-label="Landing Page Link"
          href="/"
          class="mr-6 flex items-center space-x-2"
        >
          <Image src="/favicon.svg" width={24} height={24} alt="logo" />
          <span class="font-semibold">fields4fs</span>

          <div class="flex flex-1 items-center justify-end space-x-2">
            <a
              aria-label="Github Link"
              href="https://github.com/daugvinasr/fields4fs"
              target="_blank"
            >
              <Button
                aria-label="Github Link"
                type="button"
                size="icon"
                variant="ghost"
              >
                <Github class="fill-foreground h-5 w-5 flex-none" />
              </Button>
            </a>
          </div>
        </a>
      </div>
    </header>
    <main
      class="mx-auto w-full max-w-[1400px] flex-1 items-start px-8 py-8 md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
    >
      <slot />
    </main>
  </body>
</html>
